body{
    overflow-x: hidden;
    margin: 0;
    background-color: black;
}
nav{
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 35px;
    background: linear-gradient(260.33deg, #0047FF -13.37%, #00BCD4 109.53%);
}
.logo{
    width: 182px;
    height: 27px;
}
.nav_button{
    font-family: Helvetica,sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    width:467px ;
    color: #848895;
    display: flex;
    justify-content: space-between;
}
.nav{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.cont_1{
    margin-top: 165px;
}
.cont_text1{
    font-family: Helvetica,sans-serif;
    font-size: 70px;
    font-weight: 400;
    line-height: 76px;
    letter-spacing: 0.68px;
    text-align: center;
    color: white;

}
.cont_text2{
    width: 568px;
}
.cont_text2 {
    font-family: Helvetica, sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 27px;
    color: white;
    margin-left: 500px;
    margin-top: 55px;

}
button:hover{
    background-color: white;
    color: black;
}
 button {
    background-color: black;
    color: white;
    width:181px;
height: 52px;
padding: 16px 33px 16px 33px;
border-radius: 36px;
border: 1px solid white;
gap: 10px
}
.first_button{
     background: linear-gradient(98.88deg, #8C01FA -2.99%, #000000 102.28%),
    linear-gradient(0deg, #000000, #000000);
;
    opacity: inherit;
    border: none;
}
.cont_button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
 button{
    width: 200px;
    margin-left: 20px;
    color: #FFF;
    text-align: center;
    font-family: Roboto,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    text-transform: uppercase;
}
.min_txt{
    margin-top: 135px;
    color: #618ADC;
    text-align: center;
    font-family: Helvetica,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px; /* 112% */
    letter-spacing: 0.8px;
    text-transform: uppercase;
}
.frame_logo{
    margin-top: 32px;
    margin-left: 280px;
    display: flex;
    padding: 0px 50px;
    align-items: center;
    gap: 30px;
}
.cont_2{
    display: flex;
    flex-direction: row;
    margin-left: 300px;
    margin-top: 125px;

}
.cont2_text{
    width: 570px;
    height: 573px;
    padding-top: 75px;
}
.cont2_text p{
    color: #FFF;
    font-family: Helvetica,sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 46.2px;
    letter-spacing: 1px;
    margin: 0;
}
.text_m div{
    margin: 0;
    font-family: Helvetica,sans-serif;
    font-size: 101px;
    font-style: normal;
    font-weight: 400;
    line-height: 132px;
    background: linear-gradient(228deg, #19FB9B 0%, #8C01FA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.paragraph{
    margin: 0;
    color: #C4C4C4;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px; /* 170.625% */
    text-transform: uppercase;
}
.text_v div{
    font-family: Helvetica,sans-serif;
    font-size: 106px;
    font-style: normal;
    font-weight: 400;
    line-height: 132px;
    background:  linear-gradient(229deg, #0047FF 0%, #00BCD4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text_v{
    margin-top: 45px;
}
.cont_4{
    width: 75vw;
    margin-left: 230px;
}
.desc{
    margin-right: 140px;
    display: flex;
    justify-content: flex-end;
    color: #FFF;
    font-family: Helvetica,sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 118% */
}
.cont4_text1{
    color: #FFF;
    font-family: Helvetica,sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px; /* 115.5% */
    letter-spacing: 1px;
}
.cont_4_1{
    width: 286px;
    margin-top: 25px;
}
.cont_4_1 p{
    color: #C4C4C4;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    text-transform: uppercase;
}
.cont_4_descr{
    display: flex;
flex-direction: row;
}
.cont4_text2{
    margin-left: 137px;
}
.main_parag{
    color: #FFF;
    font-family: Helvetica,sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.04px; /* 118% */
}
.second_parag{
    width: 250px;
    color: #C4C4C4;
    font-family: Helvetica,sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px; /* 160.588% */
}
.paragraph_1{
    margin-top: 82px;
}

.cont_4_2{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    width: 780px;
}
.text_desc{
    color: #C4C4C4;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px; /* 170.625% */
    text-transform: uppercase;
}
.paragraph_3{

    margin-left: 140px;
}
.paragraph_4{
    margin-left: 140px;
    margin-top: 75px;
}
.main_parag_1{
    color: #FFF;
    font-family: Helvetica,sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.04px; /* 118% */
    margin-top: 70px;
}
.cont_5{
    margin-top: 165px;
    margin-left: 250px;
    width: 1100px;
    height: 562.188px;

}
.btn_txt:first-child{
    border-radius: 15px;
    border: 1px solid #A962FF;
    background: #111;
}
.btn_txt{
    padding: 0;
    width: 98px;
    height: 48px;
    border-radius: 15px;
    border: 1px solid #111;
    background: #111;
    color: #FFF;
    text-align: center;
    font-family: Helvetica,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px; /* 170.625% */
}
.second_nav{

    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.Logo{
    color: #FFF;
    font-family: Helvetica,sans-serif;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: 46.2px; /* 118.462% */
    letter-spacing: 1px;
}
.secont_cont{
    margin-top: 30px;
    display: flex;
    flex-direction: row;

}
.bc_grey{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 48px;
    width: 50vw;
    background-color: #3a413d;
}
.bc_grey img{
    width: 240px;
    height: 55px;
}
.bc_grey p{
    color: #FFF;
    font-family: Helvetica,sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px; /* 130% */
    width: 400px;
}
.bc_grey a{
    color: #A962FF;
    font-family: Helvetica,sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px; /* 130% */
}
.underclass_nav{
    margin-top: 20px;
    width: 1100px;
    height: 62px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(38, 31, 38, 0.30);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.underclass_nav img{
    height: 46px;
}
.underclass_nav img:last-child{
    height: 30px;
}
.underclass_nav img:first-child{
    height: 29px;
}
.nav_cont6{
    margin-left: 250px;
    margin-top: 120px;
}
.carousel{
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.carousel_first{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 20px;
}
.carousel_first img{
    width: 300px;
    margin-top: 20px;
}
.carousel_block{
    overflow: hidden;
    display: flex;
    width: 300px;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    border-radius: 8px;
    background: #19161C;
}
.carousel_block p:first-child{
    margin:0;
    color: #F087FF;
    font-family: Helvetica,sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: 46.2px; /* 124.865% */
    letter-spacing: 1px;
}

.carousel_block p:last-child{
    color: #BABABA;
    font-family: Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 15.36px; /* 128% */
    text-transform: uppercase;
}
.carousel_second{
    margin-left: 20px;
}
.carousel_second div{
    margin-top: 20px;
}
.carousel_second p:first-child{
    color:#19FB9B;
}
.cont_7{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont_7 p{
    width: 736px;
    color: #FFF;
    text-align: center;
    font-family: Helvetica,sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 46.2px; /* 121.579% */
    letter-spacing: 1px;
}

footer {
    width: 100vw;
    height: 380px;
    margin-top: 200px;
    border-radius: 12px 12px 0px 0px;
    border: 1px solid #141414;
    background: #000508;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.manage{
    color: #FFF;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px; /* 170.625% */
}
.footer_desc{
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
}
.footer_icons img{
    background: #848895;
}
.footer_icons{
    display: flex;
    gap: 10px;
}
.footer_low{
    color: #848895;
    font-family: Helvetica,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px; /* 170.625% */
}
.description{
    width: 140px;
    color: #FFF;
    font-family: Helvetica,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.72px; /* 117% */
    text-transform: uppercase;
}
.footer_buton {
    display: flex;
    flex-direction: column;
}
.footer_buton a{
    color: #848895;
    font-family: Helvetica,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px; /* 182% */
}
.footer_2{
    width: 375px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: justify;
    gap: 65px;
}
.languge img{
    margin-top: 15px;
    height: 20px;
    width: 20px;
}
.languge{
    display: flex;
    flex-direction: row;
}
.languge p{
    margin-left: 4px;
    color: #848895;
    text-align: center;
    font-family: Helvetica,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: uppercase;
}